nav {
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
}

.direita {
    margin-left: auto;
}

.direita + .direita {
    margin-left: 10px;
  }


.textoMeio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 990px;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
}